extends layout

block content
    .container
        h2 All Products
        p
            | list of all the products added.
        table.table
            thead
                tr
                    th Dish Name
                    th Produced
                    th Predicted

            tbody
                each val in report_data
                    tr
                        td !{val.raw.name}
                        td !{val.createdtillnow}
                        td !{val.predicted}





